<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/common :: head" />

<body>
    <div class="container">
        <div th:if="${lastLoginFailed}" class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span th:text="#{error.login}">Name or password is incorrect.</span>
        </div>

        <form name="loginForm" method="POST" class="form-signin"
            th:action="@{/j_spring_security_check}">
            <h2 class="form-signin-heading" th:text="#{app.login.title}">Library</h2>

            <input name="username" type="text" class="input-block-level"
                placeholder="Name" th:placeholder="#{app.login.username}" />
            <input name="password" type="password" class="input-block-level"
                placeholder="Password" th:placeholder="#{app.login.password}" />
            <button name="submit" type="submit" class="btn btn-primary"
                th:text="#{app.login}">Sign In</button>
        </form>
    </div>

    <div th:include="fragments/common :: scripts"></div>
</body>

</html>
