<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/common :: head" />

<body>
    <div th:include="fragments/common :: navbar"></div>

    <div class="container">
        <div class="row-fluid" th:include="fragments/books :: bookDetails"
            th:with="details=${book.details}"></div>

        <hr />

        <div class="row-fluid" th:if="${bookNotUpdated}">
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <span th:text="#{warning.book.not.updated}"></span>
            </div>
        </div>

        <div class="row-fluid">
            <form method="POST">
                <div class="pull-right" th:if="${currentUser.manager}">
                    <p>
                        <button name="share" type="submit"
                            class="btn btn-success"
                            th:text="#{book.action.share}"></button>
                        <button name="remove" type="submit"
                            class="btn btn-danger"
                            th:text="#{book.action.remove}"></button>
                    </p>
                </div>

                <p th:if="${!book.hasVoter(currentUser)}">
                    <button name="vote" type="submit" class="btn btn-success"
                        th:text="#{book.action.vote}"></button>
                </p>
            </form>
        </div>

        <div class="row-fluid" th:if="${book.votersNum != 0}">
            <p th:include="fragments/users :: usersList"
                th:with="title='book.message.voters', users=${book.voters}"></p>
        </div>
    </div>

    <div th:include="fragments/common :: scripts"></div>
</body>

</html>
