<html xmlns:th="http://www.thymeleaf.org">

<body>

    <div th:fragment="bookThumbnail">
        <div class="thumbnail" th:object="${details}">
            <!-- Cover -->
            <div class="text-center">
                <a th:href="${detailsUrl}">
                    <img onerror="$(this).hide();" th:src="*{thumbnailUrl}" />
                </a>
            </div>

            <!-- Details -->
            <div class="caption">
                <h4 th:text="*{title}"></h4>
                <p th:text="*{authors}"></p>

                <p>
                    <a class="btn btn-info" th:href="${detailsUrl}"
                        th:text="#{book.action.view}"></a>
                </p>
            </div>
        </div>
    </div>

    <div th:fragment="bookDetails">
        <div class="media" th:object="${details}">
            <div class="pull-left">
                <a class="fancybox" th:href="*{imageUrl}">
                    <img class="media-object" onerror="$(this).hide();"
                        th:src="*{thumbnailUrl}" />
                </a>
            </div>
            <div class="media-body">
                <h4 th:text="*{title}"></h4>
                <p th:text="*{authors}"></p>

                <br />

                <ul class="unstyled">
                    <li>
                        <strong th:text="#{book.details.publisher}"></strong>
                        <span th:text="*{publisher}"></span>
                    </li>
                    <li>
                        <strong th:text="#{book.details.year}"></strong>
                        <span th:text="*{year}"></span>
                    </li>
                    <li>
                        <strong th:text="#{book.details.language}"></strong>
                        <span th:text="*{language}"></span>
                    </li>
                    <li>
                        <strong th:text="#{book.details.pages}"></strong>
                        <span th:text="*{pages}"></span>
                    </li>
                    <li>
                        <strong th:text="#{book.details.isbn}"></strong>
                        <span th:text="*{isbn}"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div th:fragment="bookStatus">
        <span th:if="${book.available}" th:text="#{book.status.available}"
            class="label label-success"></span>
        <span th:if="${book.reserved}" th:text="#{book.status.reserved}"
            class="label label-info"></span>
        <span th:if="${book.borrowed}" th:text="#{book.status.borrowed}"
            class="label label-info"></span>
    </div>

    <div th:fragment="booksList">
        <table class="table">
            <thead>
                <tr>
                    <th class="book-title" th:text="#{user.book.title}"></th>
                    <th th:text="#{user.book.status}"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book : ${books}" th:with="details=${book.details}">
                    <td>
                        <a th:href="@{/shared-book(bookId=${book.id})}"
                            th:text="${book.details.title}"></a>
                    </td>
                    <td>
                        <div th:include="fragments/books :: bookStatus"
                            th:with="details=${book.details}"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>



</body>

</html>
