<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">

<meta charset="utf-8" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title th:text="#{app.title}">Library</title>

<link rel="shortcut icon" th:href="@{/favicon.ico}" />

<link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/resources/fancybox/css/jquery.fancybox.css}" />
<link rel="stylesheet" th:href="@{/resources/library/css/library.css}" />

</head>

<body>

    <div th:fragment="navbar">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <div class="brand" th:text="#{app.title}"></div>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li>
                                <a href="#" th:href="@{/search}">
                                    <i class="icon-search"></i>
                                    <span th:text="#{app.page.search}"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" th:href="@{/vote}">
                                    <i class="icon-thumbs-up"></i>
                                    <span th:text="#{app.page.vote}"></span>
                                </a>
                            </li>
                        </ul>

                        <div class="pull-right">
                            <ul class="nav">
                                <li>
                                    <a href="#" th:href="@{/user}">
                                        <i class="icon-user"></i>
                                        <strong
                                            th:text="${currentUser.username}"></strong>
                                    </a>
                                </li>
                                <li class="divider-vertical"></li>
                                <li>
                                    <a href="#"
                                        th:href="@{/j_spring_security_logout}">
                                        <i class="icon-off"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="paginator" th:if="${total > 1}">
        <div class="pagination pagination-centered">
            <ul>
                <li th:each="i : ${#numbers.sequence(0, pagesTotal - 1)}"
                    th:class="${i == pageNum} ? 'active'">
                    <a th:href="@{${pageUrl}(pageNum=${i})}" th:text="${i}"></a>
                </li>
            </ul>
        </div>
    </div>

    <div th:fragment="scripts">
        <script th:src="@{/resources/jquery/jquery.js}"></script>
        <script th:src="@{/resources/bootstrap/js/bootstrap.js}"></script>
        <script th:src="@{/resources/fancybox/js/jquery.fancybox.js}"></script>
        <script th:src="@{/resources/library/js/library.js}"></script>
    </div>

</body>

</html>
